.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #5588e3;
}

.navigation > h1 {
  font-size: 2rem;
}

.icons {
  display: flex;
  width: 12%;
  justify-content: space-between;
}

.logo {
  max-width: 50%;
}

.home {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.main {
  display: flex;
  column-gap: 10px;
}

.indices {
  max-width: 50%;
}
