.most-heading {
  text-align: center;
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2px;
  column-gap: 2px;
}

.card {
  background-color: #577dc5;
  width: calc(50% - 2px);
  padding: 0.5rem;
}

.card:nth-of-type(2n) {
  background-color: #355fad;
}
